<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Generator Kont Bankowych 2</title>
</head>
<body>
<h4 class="center">Wygenerowane konto:</h4>

<h5 th:if="${finalBankAcount.numberEF} == 001" th:text="Eksploatacja"></h5>
<h5 th:if="${finalBankAcount.numberEF} == 002" th:text="Fundusz + ' ' +remontowy"></h5>

<h1 class="center" th:text="${finalBankAcount.checkSum +' '
                              +finalBankAcount.bankNumber +' '
                              +finalBankAcount.swrk +' '
                              +finalBankAcount.numberEF
                              +finalBankAcount.admNumber +' '
                              +finalBankAcount.WMname +' '
                              +finalBankAcount.clientName
                               }"></h1>
</body>
</html>